<div class="container text-center mt-5">
    <h1 class="display-4">ZeroHunger</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="btn btn-primary w-100" asp-action="Login">Login</a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="btn btn-success w-100" asp-action="Registration">Register</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-warning w-100" asp-action="Applicants">Apply</a>
        </div>
    </div>
</div>


